body
{
  background-color: #FFF;
  font: 62.5% "Trebuchet MS", sans-serif;
  margin: 0px;
  padding: 0px;
}
.hide {display: none;}

/* Dialogs */

#overlay { background: #bbb; cursor: wait; position: fixed; width: 100%;
  height: 100%; top: 0; left: 0;
}
*html #overlay { position: absolute;
  width: expression(document.body.clientWidth + 'px');
  height: expression(document.body.clientHeight + 'px');
}
#dialog { background: #FFF url(blitzer/images/progress.gif) 50% 50% no-repeat;
  color: #f4f4f4; overflow: hidden; opacity: .95; max-width: 56em;
  padding: 1em 1em 0; -moz-border-radius: 7px;
  -moz-box-shadow: 4px 4px 6px #333; -webkit-border-radius: 7px;
  -webkit-box-shadow: 4px 4px 6px #333;
}
*html #dialog { width: 33em; }
#dialog.loading { width: 220px; height: 80px; }
#dialog.loaded { background-image: none; }
/*#dialog h2 { background: #FFFFFF 98% 50% no-repeat; color: #CC0000;
  font-size: 120%; font-weight: bold; margin: 0 -1em; padding: .35em 1em;
}*/
#dialog h2 {
  background:url("blitzer/images/ui-bg_highlight-soft_15_cc0000_1x100.png") repeat-x scroll 50% 50% #CC0000;
  border:1px solid #E3A1A1;
  color:#FFFFFF;
  font-weight:bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: -0.4em -0.4em 0.5em -0.5em;
  padding: 0.2em 0.2em 0.2em 0.6em;
}

body.loading #dialog h2 {
  background: url("blitzer/images/ajax-loader.gif") 98% 50% no-repeat #FFFFFF ;
  border: 0px;
}
#dialog h2.loading {
  background:url("blitzer/images/ajax-loader.gif") no-repeat scroll 2% 50% #CC0000;
  padding-left:1.8em;
}
#dialog h3 { color: #CC0000; font-size: 100%; font-weight: bold; margin: 0 -2em;
  padding: .35em 2em 0;
}
#dialog fieldset { background: #FFF;
  margin: 0 0 1em; padding: .5em 1em 1em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
#dialog p.help { color: #000; font-size: 110%; margin: 0 0 .6em; }
#dialog fieldset table { margin-top: 1em; }
#dialog fieldset th, #dialog fieldset td { padding: .5em;
  vertical-align: top;
}
#dialog fieldset th { color: #666; font-weight: bold;
  text-align: right;
}
#dialog fieldset input { background-color: #e9e9e9; vertical-align: middle; }
#dialog fieldset input.error { background-color: #f9e4e4; }
#dialog fieldset div.error { padding-top: .3em; color: #b33; max-width: 25em;}
#dialog fieldset.radiogroup { padding-top: 1em; }
#dialog fieldset.radiogroup label { position: relative; padding-left: 25px; }
#dialog fieldset.radiogroup input { position: absolute; left: 5px; top: 2px; }
#dialog fieldset.radiogroup p.help { margin-top: .5em; margin-left: 25px; }
#dialog fieldset.radiogroup hr { border-color: #333; margin-left: 25px; }
#dialog .buttons { padding: 0 .5em 1em; text-align: right; }
#dialog .buttons button {
  background:url("blitzer/images/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% #EEE;
  border:1px solid #D8DCDF;
  color:#004276;
  /*background: #444; border: 1px solid #aaa;
  color: #ddd; */cursor: pointer; font-size: 90%; font-weight: normal;
  margin: 0 0 0 5px; padding: .5em 2em; -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-user-select:none;
  -moz-user-select:none;
}
#dialog .buttons button[type=submit] { font-weight: bold; }
#dialog .buttons button:hover { background: url("blitzer/images/ui-bg_highlight-hard_100_f6f6f6_1x100.png") repeat-x scroll 50% 50% #F6F6F6; color:#111111; }
#dialog .buttons button:active { background: url("blitzer/images/ui-bg_flat_65_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF; color: #CC0000; font-weight:bold; }

#dialog fieldset td#progress {
  background: url(blitzer/images/progress.gif) 50% 50% no-repeat;
  visibility: hidden;
}
#dialog fieldset td.cookie {
  vertical-align: top;
  color: #666;
  font-weight: bold;
  text-align: right;
}
div#container{
  background: #FFF;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
}
div#shadow-left{
  background: url(blitzer/images/shadow-left.png) repeat scroll left top transparent;
  width: 20px;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  position: fixed;
}
div#shadow-right{
  background: url(blitzer/images/shadow-right.png) repeat scroll left top transparent;
  width: 20px;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  position: fixed;
}
div#header{
  /*background: url(blitzer/images/headerbg.jpg) repeat scroll left top transparent;*/
  background-color: #990000;
  color: white;
  height: 8em;
  padding-left: 6em;
  padding-top: 2em;
}
div#header-toolbar{
  background: url(blitzer/images/toolbarbg.png) repeat scroll left top transparent;
  color: white;
  margin: 0em;
  height: 30px;
  padding-right: 4em;
  padding-left: 3em;
}
div#header-navigatorbar{
  color: #333;
  font-size: 110%;
  display: inline;
  float: left;
  height: 100%;
  line-height: 2.5em;
  overflow: hidden;
}
div#header-navigatorbar a {
  color: #666;
  text-decoration: none;
}
div#header-navigatorbar b {
  color: #333;
  font-size: 120%;
  text-decoration: none;
}
div#header-buttonbar{
  float: right;
  display: inline;
  overflow: hidden;
  line-height: 2.7em;
}
div#header-buttonbar img{
    margin-left: 10px;
    margin-right: 2px;
    margin-top: -4px;
    vertical-align: middle;
}
div#header-buttonbar a {
  color: #333;
  font-size: 120%;
  text-decoration: none;
  cursor: pointer;
}
div#header-buttonbar a:hover {
  color: #000;
  text-decoration: underline;
}
div#main{
  font-size: 120%;
  padding: 2em 4em 5em 16em;
}
div#footer{
  background: url(blitzer/images/footerbg.png) repeat scroll left top transparent;
  position: fixed;
  bottom: 0;
  top: auto;
  border-top: 1px solid #000000;
  color: #000000;
  font-size: 1.1em;
  height: 3em;
  padding-top: 0.5em;
  text-align: center;
  width: 100%;
}
div#footer a {
    color: #000000;
    text-decoration: underline;
}
div#sidebar {
    background-color: #F2F2F2;
    border-right: 1px solid #CCCCCC;
    left: 20px;
    float: left;
    width: 15em;
    position: absolute;
}
div.p{
  color: #003;
  font-weight: bold;
  font-size: 100%;
}
p.h2{
    color: gray;
    font-size: 160%;
    font-variant: small-caps;
    margin-bottom: 0em;
}
p.h2 img{
  margin-left: 0.2em;
  cursor: pointer;
}
ul.links li span{
  cursor: pointer;
}
ul.links li span:hover{
  color:blue;
  text-decoration: underline;
}
ul.editing li span{
  color: #ccc;
  cursor: default;
}
ul.editing li span.editable{
  color: #003;
  cursor: text;
}
ul.editing li span.editable:hover{
  color: #003;
  text-decoration: none;
}
li img.ctl{
  vertical-align: top;
  margin-right: 0.2em;
  cursor: pointer;
}
div.attributes{margin-top: 1em;}
div.attribute{
  line-height: 1.6em;
  padding-left: 1em;
}
div.attributename {
  color: #999;
  font-weight: normal;
  padding-right: 0.7em;
}
div.attributevalue span{
  color: #666;
  font-weight: bold;
  padding-right: 0.3em;
}
span.attributename{
  padding-left: 0.2em;
  padding-right: 0.3em;
}
span.attributevalue{
  padding-left: 0.3em;
}
div#topictree{
  float:left;
  margin-top: 0.5em;
}

/* Tag cloud */

#tags ul{
  -moz-border-radius-bottomleft:6px;
  -moz-border-radius-bottomright:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;
	margin:1em 0;
	padding:.5em 10px;
	text-align:center;
}
#tags li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
	}
#tags li a{
	text-decoration:none;
	padding:0 2px;
	cursor: pointer;
	}
#tags li a:hover{
	color:#8B0000;
}
.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}

#tags ul li a.tag-clicked{
  background: none repeat scroll 0 0 #BEEBFF;
  border: 1px solid #99DEFD;
  padding: 0 2px 0 1px;
}
#resource li a{
  color: #333;
  text-decoration:none;
}